h1 {
    border: 2px green;
    text-align: center;
    margin-left: inherit;
    margin-right: inherit;
}

h2 {
    text-align: center;
}

table {
    border:2px groove green;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

body {
    background-color: burlywood;
}
